name: Deploy Monitoring Stack

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      # Step 1: Checkout code
      - name: Checkout code
        uses: actions/checkout@v4

      # Step 2: Deploy to EC2 via SSH
      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          port: 22
          script: |
            set -e
            echo "Deploying Prometheus + Grafana stack..."

            # Ensure folder exists
            mkdir -p ~/aws-prometheus-grafana
            cd ~/aws-prometheus-grafana

            # Initialize git if missing
            if [ ! -d ".git" ]; then
              git init
              git remote add origin https://github.com/danishds-13/prometheus-grafana-monitoring.git
            fi

            # Pull latest code
            git pull origin main || git fetch origin main && git reset --hard origin/main

            # Start Docker stack
            docker compose up -d
            docker ps
